Задача 1. Анализ данных о студентах
Описание:
У вас есть DataFrame с данными о студентах. В таблице содержатся следующие столбцы:
Name — имя студента.
Age — возраст студента.
Grade — оценка студента (от 1 до 10).

Задачи:
Загрузите данные в DataFrame.
Найдите количество студентов.
Найдите средний возраст студентов.
Выведите список студентов, у которых оценка выше 8.

In [2]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [20, 21, 22, 20, 21],
    'Grade': [9, 8, 7, 10, 6]
}

Загрузите данные в DataFrame.

In [22]:
import pandas as pd

df = pd.DataFrame(data)
df

      Name  Age  Grade
0    Alice   20      9
1      Bob   21      8
2  Charlie   22      7
3    David   20     10
4      Eva   21      6

Найдите количество студентов.

In [13]:
df.count()
df.shape[0]

5

Найдите средний возраст студентов.

In [17]:
df['Age'].mean()

np.float64(20.8)

Выведите список студентов, у которых оценка выше 8.

In [29]:
b = df[(df['Grade'] > 8)]
a = df.query("Grade > 8")
a

    Name  Age  Grade
0  Alice   20      9
3  David   20     10