Задача 4. Анализ возраста (если бы он был)
Задача:
- Добавьте столбец с возрастом (случайные значения от 18 до 65).
- Разделите пользователей на возрастные группы: 18-25, 26-35, 36-50, 51+.
- Подсчитайте количество пользователей в каждой группе.
- Найдите средний возраст для каждой группы.

In [16]:
import random
import pandas as pd
import numpy as np


df = pd.read_csv('hw_DE_12.csv')
df

,id,first_name,last_name,email,gender,ip_address
0,1,Zebulon,Sheara,zsheara0@buzzfeed.com,Male,26.254.115.173
1,2,Gabby,Hundy,ghundy1@dyndns.org,Male,86.222.142.186
2,3,Zaneta,Macewan,zmacewan2@dyndns.org,Female,20.98.185.65
3,4,Linn,Steely,lsteely3@psu.edu,Male,65.253.237.106
4,5,Althea,Segar,asegar4@prlog.org,Female,25.127.235.34
...,...,...,...,...,...,...
995,996,Zsa zsa,McGarahan,zmcgarahanrn@craigslist.org,Female,208.135.43.154
996,997,Al,Villiers,avilliersro@nydailynews.com,Agender,168.3.4.142
997,998,Natalina,Clavering,nclaveringrp@jugem.jp,Female,16.223.145.44
998,999,Gretta,Witheford,gwithefordrq@discovery.com,Female,61.83.241.246
999,1000,Tadio,Feighney,tfeighneyrr@google.es,Male,154.243.103.8

 Добавьте столбец с возрастом (случайные значения от 18 до 65).

In [19]:
# 1 - СПОСОБ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

# age = []
# for x in range(0, 1000):
#     x = random.randint(18, 65)
#     age.append(x)
# df['age'] = age

# 2 - способ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
df['age'] = np.random.randint(18, 66, size=len(df['id']))
df

,id,first_name,last_name,email,gender,ip_address,age
0,1,Zebulon,Sheara,zsheara0@buzzfeed.com,Male,26.254.115.173,57
1,2,Gabby,Hundy,ghundy1@dyndns.org,Male,86.222.142.186,28
2,3,Zaneta,Macewan,zmacewan2@dyndns.org,Female,20.98.185.65,57
3,4,Linn,Steely,lsteely3@psu.edu,Male,65.253.237.106,59
4,5,Althea,Segar,asegar4@prlog.org,Female,25.127.235.34,34
...,...,...,...,...,...,...,...
995,996,Zsa zsa,McGarahan,zmcgarahanrn@craigslist.org,Female,208.135.43.154,54
996,997,Al,Villiers,avilliersro@nydailynews.com,Agender,168.3.4.142,18
997,998,Natalina,Clavering,nclaveringrp@jugem.jp,Female,16.223.145.44,45
998,999,Gretta,Witheford,gwithefordrq@discovery.com,Female,61.83.241.246,53
999,1000,Tadio,Feighney,tfeighneyrr@google.es,Male,154.243.103.8,37

Разделите пользователей на возрастные группы: 18-25, 26-35, 36-50, 51+.

In [26]:
bins = [17, 25, 35, 50, 65] # Границы интервалов
labels = ['18-25', '26-35', '36-50', '51-65']  # Названия групп

df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=True)
df

,id,first_name,last_name,email,gender,ip_address,age,age_group
0,1,Zebulon,Sheara,zsheara0@buzzfeed.com,Male,26.254.115.173,57,51-65
1,2,Gabby,Hundy,ghundy1@dyndns.org,Male,86.222.142.186,28,26-35
2,3,Zaneta,Macewan,zmacewan2@dyndns.org,Female,20.98.185.65,57,51-65
3,4,Linn,Steely,lsteely3@psu.edu,Male,65.253.237.106,59,51-65
4,5,Althea,Segar,asegar4@prlog.org,Female,25.127.235.34,34,26-35
...,...,...,...,...,...,...,...,...
995,996,Zsa zsa,McGarahan,zmcgarahanrn@craigslist.org,Female,208.135.43.154,54,51-65
996,997,Al,Villiers,avilliersro@nydailynews.com,Agender,168.3.4.142,18,18-25
997,998,Natalina,Clavering,nclaveringrp@jugem.jp,Female,16.223.145.44,45,36-50
998,999,Gretta,Witheford,gwithefordrq@discovery.com,Female,61.83.241.246,53,51-65
999,1000,Tadio,Feighney,tfeighneyrr@google.es,Male,154.243.103.8,37,36-50

- Подсчитайте количество пользователей в каждой группе.

In [28]:
df['age_group'].value_counts()

age_group
51-65    319
36-50    309
26-35    209
18-25    163
Name: count, dtype: int64

- Найдите средний возраст для каждой группы.

In [30]:
df.groupby('age_group')['age'].mean()

C:\Users\serge\AppData\Local\Temp\ipykernel_27700\622234994.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('age_group')['age'].mean()

age_group
18-25    21.564417
26-35    30.617225
36-50    43.223301
51-65    57.974922
Name: age, dtype: float64