Задача 1. Анализ данных о студентах
Описание:
У вас есть DataFrame с данными о студентах. В таблице содержатся следующие столбцы:
Name — имя студента.
Age — возраст студента.
Grade — оценка студента (от 1 до 10).

Задачи:
Загрузите данные в DataFrame.
Найдите количество студентов.
Найдите средний возраст студентов.
Выведите список студентов, у которых оценка выше 8.

In [5]:
import pandas as pd
import pandasql as ps

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [20, 21, 22, 20, 21],
    'Grade': [9, 8, 7, 10, 6]
}
df = pd.DataFrame(data)
df

      Name  Age  Grade
0    Alice   20      9
1      Bob   21      8
2  Charlie   22      7
3    David   20     10
4      Eva   21      6

Найдите количество студентов.

In [8]:
query = "SELECT count(*) FROM df"

result = ps.sqldf(query)
result

   count(*)
0         5

Найдите средний возраст студентов.

In [9]:
avg_age = "SELECT AVG(age) FROM df"

result = ps.sqldf(avg_age)
result

   AVG(age)
0      20.8

Выведите список студентов, у которых оценка выше 8.

In [12]:
query = "SELECT Name, Grade FROM df WHERE Grade > 8"
result = ps.sqldf(query)
result

    Name  Grade
0  Alice      9
1  David     10